/.console_history
/banned-ips.json
/banned-players.json
/ops.json
/server.properties
/usercache.json
/version_history.json
/whitelist.json

/cache
/libraries
/logs
/versions
/world
/world_nether
/world_the_end

/plugins/Essentials/userdata
/plugins/Essentials/userdata-npc-backup
/plugins/Geyser-Spigot/cache
/plugins/GriefPreventionData/ClaimData
/plugins/GriefPreventionData/PlayerData
/plugins/GriefPreventionData/Logs
/plugins/LuckPerms/*.db